<div class="container">

  <img class="image-head" src="../assets/images/flight.jpg" alt="Avatar" class="avatar" style="width: 100%; height: 635px;position: relative;">

  <div class="logo">

    <img src="../assets/images/f3.png">
  </div>


  <div class="tableData">
    <table>
      <thead>
          <td>Date</td>

          <td>Departure-Destination</td>

          <td>Business Passenger Class</td>

          <td>Premium Economy Passenger Class</td>

          <td>Economy Passenger Class</td>

          <td>Flight Name</td>

          <td>Departure</td>

      </thead>
      <tbody>
        <tr *ngFor="let d of data;">
          <td>{{d.date}}</td>
          <td>{{d.flightBetweenCities}}</td>
          <td>{{d.businessPassClass}} Rs.</td>
          <td>{{d.premiumEconomyPassClass}} Rs.</td>

          <td>{{d.economyPassClass}} Rs.</td>

          <td>{{d.flightName}}</td>
          <td>{{d.departure}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>